
<!-- simple analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>

<!-- Copy URL funtion in Share buttons-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>

  function copy_to_share(){

    var url = window.location.href;
    console.log(url);

    var clipboard = new Clipboard('#url_copy', {
      text: function() {
          return url;
      }
    });

  }
   
</script>
