<footer>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github" rel="noopener" aria-label="github_link">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook" rel="noopener" aria-label="github_url">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" rel="noopener" aria-label="twitter_url">
          <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/@{{ site.medium_username }}" title="Medium" rel="noopener" aria-label="medium_url">
          <svg><use xlink:href="#icon-medium"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram" rel="noopener" aria-label="instagram_url">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/company/{{ site.linkedin_username }}" title="LinkedIn" rel="noopener" aria-label="linkedin_url">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
    </p>

    <ul>
      {% assign menu = "Home,About,Contact" | split:"," %}
      {% for item in site.menu %}
        {% if item.title and item.url and menu contains item.title %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <p>
      <span>TechMobie </span>is made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="https://mobie.tech/contributors" target="_blank" class="creator">Team TechMobie</a>
    </p>
</footer>

{% assign social_urls = '' %}
{% if site.github_username %}
    {% assign social_urls = social_urls | append: '"https://github.com/' | append: site.github_username | append: '",' %}
{% endif %}
{% if site.facebook_username %}
    {% assign social_urls = social_urls | append: '"https://www.facebook.com/' | append: site.facebook_username | append: '",' %}
{% endif %}
{% if site.twitter_username %}
    {% assign social_urls = social_urls | append: '"https://twitter.com/' | append: site.twitter_username | append: '",' %}
{% endif %}
{% if site.medium_username %}
    {% assign social_urls = social_urls | append: '"https://medium.com/@' | append: site.medium_username | append: '",' %}
{% endif %}
{% if site.instagram_username %}
    {% assign social_urls = social_urls | append: '"https://www.instagram.com/' | append: site.instagram_username | append: '",' %}
{% endif %}
{% if site.linkedin_username %}
    {% assign social_urls = social_urls | append: '"https://www.linkedin.com/company/' | append: site.linkedin_username | append: '",' %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>

<!-- Include the script that allows Netlify CMS login
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

<!-- Include the website scripts -->
<script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

<!-- Include Google Analytics script -->
{% include stats.html %}

<!-- Include extra scripts -->
{% include extra-js.html %}
