<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/contact">Contact Us</a>
</li>
<!--li class="nav-item dropdown ml-auto " style="">
    <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
    <ul class="dropdown-menu" aria-labelledby="dropdown">
        <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{ site.baseurl }}{%link _pages/about.md %} ">About Us</a></li>
        <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{ site.baseurl }}/contact.html ">Contact Us</a></li>
        <!--li class="dropdown-item dropdown">
            <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                        <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li-->

