<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/tutorial">Tutorial</a>
    </li>
    <!--li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Microsoft</a>
    </li-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phones</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown">
            <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{site.baseurl}}/categories/android ">Android</a></li>
            <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{site.baseurl}}/categories/ios ">ios</a></li>
            <!--li class="dropdown-item dropdown">
                <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                    <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                            <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                        </ul>
                    </li>
                </ul>
            </li-->
        </ul>
    </li>
    <li class="nav-item dropdown ml-auto " style="">
        <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown">
            <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{ site.baseurl }}/categories/microsoft ">Microsoft</a></li>
            <li class="dropdown-item " ><a class="dropdown-item-dropdown" href="{{ site.baseurl }}/categories/google">Google</a></li>
            <!--li class="dropdown-item dropdown">
                <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                    <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                            <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                        </ul>
                    </li>
                </ul>
            </li-->
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/categories/general">General issues</a>
    </li>
    
    