---
title: "playstore"
layout: default
permalink: "/categories/playstore"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categorie :playstore</h1>
        {% assign category = site.posts | where:"categories","playstore" %}            
        {% for post in category %}
            {% include main-loop-card.html %}
            {% endfor %}
        </div>
        
        <div class="col-md-4">
            {% include sidebar-featured.html %}    
        </div>
        
    </div>
</div>