---
layout: error_page
---

<style type="text/css" media="screen">

  .container {
    margin: 0px auto;
    max-width: 580px;
  }

    #error_title{
      color: white;
      text-align: center;
    }

    @media only screen and (max-width: 600px) {

        #error_title{
          font-size: 12px;
        }

    }

    #error_text{
      margin-bottom: 33px; 
      margin-top: 10px;
      color: white;
      text-align: center;
    }
  
  
</style>

<div class="container">
  <img src="/assets/img/404.gif" width="100%" alt="{{ site.translations.error_404.image_alt | default: '404 - Page not found' }}">
</div>
<p id="error_title"><strong>{{ site.translations.error_404.title | default: "Page not found :(" }}</strong></p>
<p id="error_text">{{ site.translations.error_404.message | default: "I'm sorry. We couldn't find the page you are looking for." }}</p>